<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}"> <!-- main.html 연동 -->

    <main layout:fragment="content">
        <h1 th:text="#{회원가입}"></h1>
        <form name="frmRegist" method="POST" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}"> <!-- 커맨드 객체 연동 -->
            <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div> <!-- 에러 출력 & 필드 연동 -->

            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <input type="text" name="email" th:field="*{email}"> <!-- th:field 써야 인식 가능 | * : RequestJoin 의 커맨드 객체 연동용-->
                    <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{비밀번호}"></dt>
                <dd>
                    <input type="password" name="password" th:field="*{password}">
                    <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{비밀번호_확인}"></dt>
                <dd>
                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                    <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{회원명}"></dt>
                <dd>
                    <input type="text" name="userName" th:field="*{userName}">
                    <div class="error" th:each="err : ${#fields.errors('userName')}" th:text="${err}"></div>
                </dd>
            </dl>

            <dl>
                <dt th:text="#{휴대전화번호}"></dt>
                <dd>
                    <input type="text" name="mobile" th:field="*{mobile}"> <!-- * : th:object="${requestJoin}" -->
                    <div class="error" th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
                </dd>
            </dl>
        </form>
    </main>
</html>